#Ignore ntuples
*.root

#Examples
examples/

#Packages
DaVinciDev*
UraniaDev*

#Compilation stuff
*.so
*.d
*.pcm

#Emacs shit
*~

#Python compilation stuff
*.pyc

#Make log
make.log

#Ignore weights database
*.db

#Ignore ostap
.ostap_history*
.ostap_config*

#Ignore (m)DSTs
*.dst
*.mdst