#Ignore ntuples
*.root

#Examples
examples/

#Packages
DaVinciDev*
UraniaDev*

#Compilation stuff
*.so
*.d
*.pcm

#Emacs shit
*~

#Python compilation stuff
*.pyc

#Make log
make.log

#Ignore weights database
*.db

#Ignore ostap
.ostap_history*
.ostap_config*

#Ignore (m)DSTs
*.dst
*.mdst

#Moore product files
*.gv
test_catalog.xml

#Metadata produced by MooreAnalysis
output/*/*.metadata.json
#TCK jsons produced. These are sensitive to the stack version, so better not keep them in the repo
output/*/*_tck.json

#vscode settings
.vscode/
*.code-workspace

# snakemake
.snakemake/metadata/*
.snakemake/log/*
